body {
    background-image: url(/images/fondo-tecnologia-digital-alambre-malla-red_1017-27428.avif);
   background-size: cover;
           background-repeat: no-repeat;
            
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    font-size: 1.5vw;  
    
}


/* El contenedor de la imagen y el comentario debe alinearse en fila con la imagen a la izquierda */
/* Alinea la imagen a la izquierda y el comentario a la derecha */
.image-container {
    display: flex; /* Alinea los elementos en una fila */
    align-items: center; /* Alinea los elementos verticalmente */
    margin-top: 10px;
}

.image-container img {
    margin-right: 20px; /* Deja un espacio entre la imagen y el comentario */
    border: 2px solid #000000;
    border-radius: 8px;
    order: 1; /* Asegura que la imagen sea el primer elemento */
}

.image-comment {
    max-width: 400px;
    color: black;
    font-size: larger;
    margin-left: 10px; /* Espacio entre la imagen y el comentario */
    order: 2; /* Asegura que el comentario se coloque después de la imagen */
}



.main-div {
    padding: 10px;
    border: 3px solid #ddd;
    border-radius: 8px;
    border-color: #000000;
    background-image: url(images/fondo-tecnologia-digital-alambre-malla-red_1017-27428.avif);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 0cap;
    min-width: 55vw;
    max-width: 55vh;
    font-size: large;
    display: flex; /* Alinea sus elementos con flex */
    flex-direction: column;
    align-items: center; /* Alinea los elementos al centro */
    justify-content: center; /* Centra el contenido dentro del div */
}

.botones {
  background-color: #f5f5f5; 
  text-align: center; 
  color: rgb(0, 0, 0);
  font-size: 18px;  
  padding: 15px 30px; 
  border-radius: 10px; 
  border: 1px solid #9f9f9f; 
  cursor: pointer; 
  width: 200px; 
}

a {
    
    font-size: large;
}

#h1 {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10;
    font-size: 1rem;

}

